@use "../utilities/variables";

.navegacion-principal {
    background-color: variables.$colorFondoNav !important;
    border-bottom: 2px solid #d2b48c;

    .contenedor-navegacion {
        max-width: 1200px;
        margin: auto;

        .img-logo {
            width: 70px;
            height: auto;

        }

        .menu-colapsable {
            .lista-navegacion {
                gap: 20px;

                .item-navegacion {
                    margin: 0 10px;

                    .enlace-navegacion {
                        color: variables.$colorFuentes;
                        transition: background 0.3s;
                        border-radius: 4px;
                        font-size: 20px;
                        font-style: italic;

                        &:hover {
                            color: variables.$colorHover;
                        }
                    }
                }
            }
        }
    }
}